pip install langchain==0.1.20
pip install langchain-community
pip install langchain-core
pip install langchain-text-splitters
pip install transformers==4.41.0
pip install sentence-transformers
pip install faiss-cpu
pip install sentencepiece
pip install python-dotenv
pip install streamlit
pip install torch